.formLabel {
    color: #6A6A6A;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
.searchInputContainer {
    position: relative;
    .searchInput {
        box-sizing: border-box;
        height: 39px;
        width: 246px;
        border: 1px solid #CDCFD2;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
        padding: 0 33px 0 12.5px;
        outline-color:#00A3EA;
        color: #6A6A6A;	font-family: "Open Sans";	font-size: 16px;	line-height: 22px;
    }
        &:after {
            content: "\f002";
            position: absolute;
            font-family: 'FontAwesome';
            color: #B3B3B3;
            font-size: 16px;
            line-height: 16px;
            top: 11.5px;
            left: 219.5px;
        }
        &::placeholder {
            height: 19px;
            width: 76px;
            color: #6A6A6A;
            font-family: "Open Sans";
            font-size: 14px;
            line-height: 19px;
        }
}
.selectInputContainer {
    position: relative;
    .selectInput {
        -webkit-appearance: none;
        box-sizing: border-box;
        height: 37px;
        width: 161px;
        border: 1px solid #CDCFD2;
        border-radius: 2px;
        background-color: #FFFFFF;
        color: #6A6A6A;	font-family: "Open Sans";	font-size: 16px;	line-height: 22px;
        padding-left: 12px;
        outline-color:#00A3EA;
    }
        &:after {
            content: "\f0d7";
            border-left: 1px solid #CDCFD2;
            padding: 10.75px 12.91px 10.25px 12.91px;
            position: absolute;
            font-family: 'FontAwesome';
            color: #B3B3B3;
            font-size: 16px;
            line-height: 16px;
            left: 123px;
            pointer-events:none;
        }
}

.inputText {
    box-sizing: border-box;	
    height: 37px;
    width: 160px;
    border: 1px solid #CDCFD2;
    border-radius: 2px;
    background-color: #FFFFFF;
    padding: 0 12px 0 12px;
    outline-color:#00A3EA;
    color: #6A6A6A;	font-family: "Open Sans";	font-size: 16px;	line-height: 22px;
}
.inputTextInfoContainer {
    position: relative;
    .inputTextInfo {
        box-sizing: border-box;	
        height: 37px;
        width: 160px;
        border: 1px solid #CDCFD2;
        border-radius: 2px;
        background-color: #FFFFFF;
        padding: 0 90px 0 12px;
        padding-left: 12px;
        outline-color:#00A3EA;
        color: #6A6A6A;	font-family: "Open Sans";	font-size: 16px;	line-height: 22px;
    }
    &:after {
        content: 'minutes';
        position: absolute;
        color: #8B8B8C;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 22px;
        padding: 7.5px 0 7.5px 0;
        left: 80px;
    }
}

.inputTextarea {
    box-sizing: border-box;
    height: 73px;
    width: 351px;
    border: 1px solid #CDCFD2;
    border-radius: 2px;
    background-color: #FFFFFF;
    resize: none;
    color: #6A6A6A;	font-family: "Open Sans";	font-size: 16px;	line-height: 22px;
    outline-color:#00A3EA;
}

.inputRadio {
    display: none;
    +.inputRadioLabel {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        display: inline-block;
        color: #6A6A6A;	font-family: "Open Sans";	font-size: 16px;	line-height: 22px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            box-sizing: border-box;
            height: 22px;
            width: 22px;
            border: 1px solid #6A6A6A;
            border-radius: 10.5px;
            background-color: #FFFFFF;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            box-sizing: border-box;
            height: 22px;
            width: 22px;
            border: 1px solid #6A6A6A;
            border-radius: 10.5px;
            background-color:#00A3EA;
        }
    }
    &:not(:checked) + .inputRadioLabel:after {
        opacity: 0;
    }
    &:checked + .inputRadioLabel:after {
        opacity: 1;
    }
}

.inputCheckbox {
    display: none;
    +.inputChechboxLabel {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        display: inline-block;
        color: #6A6A6A;	font-family: "Open Sans";	font-size: 16px;	line-height: 22px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            box-sizing: border-box;
            height: 22px;
            width: 22px;
            border: 1px solid #6A6A6A;
            border-radius: 2px;
            background-color: #FFFFFF;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            box-sizing: border-box;
            height: 22px;
            width: 22px;
            border: 1px solid #6A6A6A;
            border-radius: 2px;
            background-color:#00A3EA;
        }
    }
    &:not(:checked) + .inputChechboxLabel:after {
        opacity: 0;
    }
    &:checked + .inputChechboxLabel:after {
        opacity: 1;
    }
}

.inputDate {
    position: relative;
    box-sizing: border-box;
    height: 37px;
    width: 160px;
    border: 1px solid #CDCFD2;
    border-radius: 2px;
    background-color: #FFFFFF;
    padding-left: 12px;
    outline-color:#00A3EA;
    color: #6A6A6A;	font-family: "Open Sans";	font-size: 16px;	line-height: 22px;
    &::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
    }
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none; 
        margin: 0; 
    }
    &::-webkit-clear-button {
        display: none;
        -webkit-appearance: none;
    }
}
.inputDate:after {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f133';
    color: #6A6A6A;	
    font-size: 16px;
    line-height: 16px;
    pointer-events:none;
    top: 10.5px;
    right: 12.5px;
}

.primaryBtn {
    padding: 8px 32px;
    border-radius: 21px;
    background-color: #1C315F;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 19px;
    outline: none;
    border: none;
    cursor: pointer;
        &:hover {
            background-color: #00A3EA;
            transition: .4s;
        }
        &:active {
            transform: scale(0.9);
        }
}
.secondaryBtn {
    padding: 8px 32px;
	border-radius: 5px;
    background-color: #1C315F;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 19px;
    outline: none;
    border: none;
    cursor: pointer;
        &:hover {
            background-color: #00A3EA;
            transition: .4s;
        }
        &:active {
            transform: scale(0.9);
        }
}
.outlineBtn {
    box-sizing: border-box;
    padding: 8px 32px;
    border: 1px solid #1C315F;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    color: #1C315F;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22px;
    outline: none;
    cursor: pointer;
        &:hover {
            background-color: #00A3EA;
            color: #FFFFFF;
            transition: .4s;
        }
        &:active {
            transform: scale(0.9);
        }
}
.dangerBtn {
    padding: 8px 32px;
    border-radius: 21px;
    background-color: #FF0F19;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 19px;
    outline: none;
    border: none;
    opacity: 0.8;
    cursor: pointer;
        &:hover {
            opacity: 1;
            transition: .4s;
        }
        &:active {
            transform: scale(0.9);
        }
}

.linkBtn {
    padding: 8px 32px;
    background-color: transparent;
    color: #00A3EA;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22px;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
        color: #1C315F;
        transition: .4s;
    }
    &:active {
        transform: scale(0.9);
    }
}