.formLabel {
    color: #6A6A6A;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
.inputTextarea {
    box-sizing: border-box;
    border: 1px solid #CDCFD2;
    border-radius: 2px;
    background-color: #FFFFFF;
    padding: 12.5px;
    resize: none;
    color: #6A6A6A;	font-family: "Open Sans";	font-size: 16px;	line-height: 22px;
    outline-color:#00A3EA;
}