:global(.body) {
   margin: 0;
   padding: 0;
}

.root {
    width: 100%;
    height: 100vh;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
    color: #6a6a6a;
    font-family: 'Open Sans';
}

.dashboard {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: row;
}

.menu {
    color: #fff;
    border-radius: 5px;
    margin: 10px 10px 0 0;
    width: 255px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    height: 100%;
    padding: 23px 0px 32px 23px;
    background: linear-gradient(169.56deg, #073B65 0%, #0079AE 100%);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
    .item {
        display: flex;
        align-items: center;
        height: 50px;
        font-size: 16px;
        cursor: pointer;
        .icon {
            margin-right: 8px;
        }
    }
}

.main {
    margin: 10px;
    width: 100%;
    .title {
        font-size: 32px;
        color: #073b65;
        font-weight: 600;
    }
}

.info-wrapper {
    display: flex;
    flex-direction: row;
}

.alerts {
    display: flex;
    flex: 1 1 auto;
    margin: 10px 10px 10px 0px;
    flex-direction: column;
    padding: 10px;
    width: 55%;
}

.alert, .todo {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
}

.alert-logo, .todo-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #11a8ea;
    margin: 5px;
    margin: 0 20px;
}

.alert-logo {
    font-size: 21px;
}

.alert-message, .todo-message {
    font-size: 16px;
    .additionl-message {
        font-size: 14px
    }
}


.todos {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 10px 0 10px 10px;
    padding: 10px;
    width: 45%;
}

.paper {
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    margin: 10px;
    padding: 10px;
    &:first-child {
        margin-left: 0
    }
    &:last-child {
        margin-right: 0;
    }
}

.expand {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: flex-end;
    font-size: 17px;
    cursor: pointer;
}

.card-title {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 12px;
    font-weight: 600;
}

.main-menu {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    align-items: center;
    margin: 10px;
    .button {
        background-color: #073b65;
        color: #fff;
        border-radius: 36px;
        height: 36px;
        padding: 0 34px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

.buttons-group {
    display: flex;
    flex-direction: row;
    margin: 32px 0 16px;
    .button {
        background-color: #073b65;
        color: #fff;
        padding: 0 24px;
        height: 35px;
        display: flex;
        align-items: center;
        margin: 0 10px;
        border-radius: 10px;
        cursor: pointer;
        &:first-child {
            margin-left: 0;
        }
    }
}

.tournaments-wrapper {
    display: flex;
    flex-direction: row;
    .tournament {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        width: 50%;
        padding: 15px;
    }
    .card-title {
        margin: 0
    }
}

.tournament-title {
    margin-left: 16px;
}

.tournament-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tournament-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #11a8ea;
    margin: 5px;
    width: 48px;
    height: 48px;
}

.tournament-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .button {
        margin: 10px 0;
        background-color: #073b65;
        color: #fff;
        border-radius: 36px;
        height: 36px;
        padding: 0 34px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}

.link {
    color: #11a8ea;
    cursor: pointer;
}

.stats {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    .column {
        display: flex;
        width: 50%;
        flex-direction: column;
        .column-title {
            font-weight: bolder;
            margin-right: 3px;
            color: #6a6a6a;
        }
        .info {
            margin: 5px 0;
            .status-circle {
                width: 12px;
                height: 12px;
                border-radius: 12px;
                display: inline-block;
                background-color: #00CC47;
                margin-left: 5px
            }
        }
    }
}